*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 768px;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgb(127, 161, 255);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.logo {
    float:left;
    width: 175px;
    height: 175px;
}

.logo .st0{
    fill:rgb(127, 161, 255);
}

.logo .st1{
    fill:rgb(127, 161, 255);
}


.logo .st0:hover{
    fill:rgb(253, 123, 195);
    transition: 1s ease-in;
}

.logo .st1:hover{
    fill:rgb(253, 123, 195);
    transition: 1s ease-in;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    transition: 0.6s ease;
}

ul li a:hover{
    color:rgb(127, 161, 255);
}

ul li.active a{
    color:rgb(127, 161, 255);
}

nav .menu-btn{
    display: none;
}

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

.header-image{
    width: 800px;
    height: 700px;
    margin: 20px;
}

.header-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.header-text{
    width:500px;
    margin: 20px;
}
.header-text h1{
    font-size: 3.2rem;
    line-height: 55px;
    color: black;
    letter-spacing: 10x;
    font-weight: 600;
    margin: 0px;

}

.header-text p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.671);
}

.header-btn{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #88bd24;
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.header-btn:hover{
    background-color: #a0d144;
}

.emergency{
    background-size: 1000px;
    background-position: center;
}

.emergency-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column
}

.emergency-heading h2{
    line-height: 50px;
    font-size: 2.5rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px;
}

.emergency-heading p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.671);
    width: 50%;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(250, 225, 203);
    border-radius: 5px;
    background-color:rgb(252, 234, 200);
    margin: 10px;
    flex-grow: 0.5;
}

.box h3{
    font-size: 2rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}

.box p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.671);
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.box a{
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #88bd24;
    text-transform: uppercase;
    margin: auto;
    border-radius: 4px;
    font-weight: 600;
    font-size:1rem;
    color: #88bd24;
    margin: 0px;
    transition: 0.5s ease-in-out;
}

.box a:hover{
    background-color: #a0d144;
    color: white;
}

.services{
    background-size: 1000px;
    background-position: center;
}

.services-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column
}

.services-heading h2{
    line-height: 50px;
    font-size: 2.5rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px;
}

.services-heading p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.671);
    width: 50%;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    text-align: center;
    box-shadow: 1px 1px 10px white;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    flex-grow: 0.5;
}

.boxx img{
    height: 180px;
    margin: 20px;
}

.boxx h3{
    font-size: 2rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}

.boxx p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.671);
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.services-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #88bd24;
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.services-btn:hover{
    background-color: #a0d144;
}

.about{
    width: 100%;
    height: 760px;
    position: relative;
}

.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

.about-image{
    width: 800px;
    height: 700px;
    margin: 20px;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.about-text{
    width:500px;
    margin: 20px;
}
.about-text h2{
    font-size: 2.5rem;
    line-height: 50px;
    color: black;
    letter-spacing: 1x;
    font-weight: 500;
    margin: 0px;

}

.about-text p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.671);
}

.about-text span{
    color: #88bd24;
    text-decoration: underline;
}

.about-btn{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #88bd24;
    color: white;
    box-shadow: 5px 10px 30px #a0c757;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.about-btn:hover{
    background-color: #a0d144;
}

.gal{
    background-size: 1000px;
    background-position: center;
}

.gal-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column
}

.gal-heading h2{
    line-height: 50px;
    font-size: 2.5rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px;
}

.gal-heading p{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.671);
    width: 50%;
}
.container{
    max-width: 1200px;
    margin: auto;
    background: white;
    overflow: auto;
}

.gallery{
    margin: 5px;
    border: 1px solid whitesmoke;
    float: left;
    width: 350px;
}

.gallery img{
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1200px) {
    .main {
        width: 1200px;
        margin: 0 auto;
    }
    
}

