*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 768px;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgb(127, 161, 255);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.logo {
    float:left;
    width: 175px;
    height: 175px;
}

.logo .st0{
    fill:rgb(127, 161, 255);
}

.logo .st1{
    fill:rgb(127, 161, 255);
}


.logo .st0:hover{
    fill:rgb(253, 123, 195);
    transition: 1s ease-in;
}

.logo .st1:hover{
    fill:rgb(253, 123, 195);
    transition: 1s ease-in;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    transition: 0.6s ease;
}

ul li a:hover{
    color:rgb(127, 161, 255);
}

ul li.active a{
    color:rgb(127, 161, 255);
}

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

.header-image{
    width: 825px;
    height: 525px;
    margin: 20px;
}
@media only screen and (min-width: 1200px) {
    .main {
        width: 1200px;
        margin: 0 auto;
    }
    
}

