*{
    margin: 0;
    padding: 0;
}

header {
    background-color:seashell;
}

.logo {
    float:left;
    width:200px;
    height: auto;
}

.logo .st0{
    fill:rgb(127, 161, 255);
}

.logo .st1{
    fill:rgb(127, 161, 255);
}


.logo .st0:hover{
    fill:rgb(253, 123, 195);
    transition: 1s ease-in;
}

.logo .st1:hover{
    fill:rgb(253, 123, 195);
    transition: 1s ease-in;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 85px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    transition: 0.6s ease;
}

ul li a:hover{
    color:rgb(127, 161, 255);
}

ul li.active a{
    color:rgb(127, 161, 255);
}

.dc{
    width:50%;
    height: 50%;
    object-fit: contain;
    object-position: left;
    margin-top: 20px;
    float:left;
}
@media only screen and (min-width: 1200px) {
    .main {
        width: 1200px;
        margin: 0 auto;
    }
    
}

